@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-600;
        @apply text-white;

        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
            'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body,
    html {
        height: 100%;
    }

    #root {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@layer components {
    :root {
        --page-size: 600px;
    }

    .worksheet {
        @apply flex flex-col gap-6 items-center p-6;
    }

    .day {
        @apply flex flex-col gap-12 items-center p-6 mb-6;
        min-width: var(--page-size);
    }

    .day.empty {
        @apply bg-gray-500 drop-shadow-2xl;
    }

    .period {
        @apply bg-gray-500 drop-shadow-2xl;

        min-width: var(--page-size);
    }
    .period > .header {
        @apply flex items-center gap-6 mb-6;
    }
    .period > .header > .title {
        @apply flex-1 text-xl tracking-[.3em];
        text-transform: uppercase;
    }

    .group {
        @apply mb-6 flex flex-col items-center;
    }

    .group > .title {
        @apply bg-red-500  px-3 text-base min-w-[250px] py-3 text-center;
    }
    .group .block-separator {
        @apply border-t-2 border-gray-100 w-20;
    }

    .block {
        @apply text-sm m-2 p-2 flex items-center !important;
    }

    .block.empty {
        min-height: 50px;
        min-width: 100px;
    }

    .block > .info {
        @apply bg-gray-100 p-3 text-sm mr-6;
        position: absolute;
        width: 180px;
        right: 100%;
    }
    .block > .info:after {
        content: '';

        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid theme('colors.gray.100');
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -20px;
    }

    .round.empty {
        min-height: 50px;
        min-width: 100px;
    }

    .icon-btn {
        color: white;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        @apply bg-red-700;
    }

    .icon-btn:hover {
        @apply bg-red-900;
    }

    .hoverable > .icon-btn {
        position: absolute;
        display: none;
        z-index: 999;
    }

    .hoverable > .icon-btn.remove {
        right: -14px;
        top: -14px;
    }

    .hoverable > .icon-btn.add {
        left: 50%;
        margin-left: -14px;
    }
    .hoverable > .icon-btn.add.top {
        top: -17px;
    }
    .hoverable > .icon-btn.add {
        bottom: -17px;
    }

    .hoverable.selected > .icon-btn {
        display: flex;
    }

    .hoverable {
        position: relative;
    }

    .hoverable:hover {
        outline: 2px solid theme('colors.red.500');
        outline-offset: -2px;
        cursor: pointer;
    }
    .hoverable.selected {
        outline: 2px solid theme('colors.red.500');
        outline-offset: -2px;
        cursor: pointer;
    }

    .input {
        @apply font-sans;
        @apply text-base;
        @apply text-gray-500;
        @apply rounded-md;
        padding: 5px 12px;
    }
    .input:focus {
        outline: 3px solid;
        @apply outline-red-700 outline-offset-2;
    }
    .input.input-full {
        width: 100%;
    }

    .paper {
        @apply p-6 bg-gray-100 rounded-lg;
    }

    .btn {
        @apply px-4 py-1 bg-gray-100 rounded-md text-base;
    }

    .btn:hover {
        @apply bg-gray-300;
    }
    .btn.btn-light {
        @apply bg-gray-500;
    }
    .btn.btn-light:disabled {
        @apply bg-gray-700;
    }
    .btn.btn-light:hover {
        @apply bg-gray-600;
    }

    .btn.btn-main {
        @apply bg-red-500;
    }
    .btn.btn-main:disabled {
        @apply bg-red-300;
    }
    .btn.btn-main:not(:disabled):hover {
        @apply bg-red-700;
    }

    .section-title {
        @apply text-xl pb-1;
        border-bottom: 2px solid theme('colors.gray.100');
        color: theme('colors.gray.700');
        font-weight: bold;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
